/*ФОН*/
/*--------------------------------------------*/
.ym-dark-theme,
.ym-light-theme,
.ym-font-music {
    --ym-background-color-primary-enabled-basic: #000;
    --average-color-background: 0;
    --ym-background-color-primary-enabled-content: 0;
}
/*--------------------------------------------*/

/*БАЗА*/
/*--------------------------------------------*/
.DefaultLayout_root__7J0wo,
.ym-dark-theme,
.ym-light-theme {
	background: 0;
}

.NavbarDesktop_root__scYzp {
	backdrop-filter: blur(70px) brightness(1.5);
	background: #0001;
	border-radius: 20px;
	border-width: 3px;
	border-style: solid;
	border-color: #fff1;
	height: calc(100% - 99px);
	margin-top: 14px;
	min-width: 78px;
	margin-left: 10px;
}

section.PlayerBar_root__cXUnU {
	position: fixed;
	height: 90px;
	right: 0;
	left: 0;
	bottom: 0;
	border-radius: 10px 10px 0px 0px;
	border-width: 3px 0px 0px 0px;
	z-index: 401;
}

.Content_main__8_wIa {
	margin-bottom: 85px;
}

.Content_main__8_wIa,
.PlayerBar_root__cXUnU,
.ReleaseNotesModal_root__RSw1p,
.Donation_root__nwHCN {
	backdrop-filter: blur(70px) brightness(1.5);
	background: 0;
	border-radius: 20px;
	border-width: 3px;
	border-color: #fff1;
}

.NavbarDesktopUserWidget_userProfileContainer__ha3Tm {
	height: 45px;
}
/*--------------------------------------------*/

/*ТАБЫ - TABS*/
/*--------------------------------------------*/
[data-test-id="TAB"] {
	background: #fff2;
	border-width: 0;
}

[data-test-id="TAB"][aria-selected="false"] {
	background: 0;
	border-width: 0;
}
/*--------------------------------------------*/

/*История - History*/
/*--------------------------------------------*/
.MusicHistoryPage_header__dzEvD {
	background: 0;
}
/*--------------------------------------------*/

/*Качество звука*/
/*--------------------------------------------*/
.EqualizerPresets_container__ABVY8 {
	background: 0;
}

.QualitySettingsModal_root__f3gE2 {
	margin-bottom: 85px;
}

[data-test-id="QUALITY_SETTINGS_CONTEXT_MENU"] {
	z-index: 402;
}
/*--------------------------------------------*/

/*Vibe - Вайб*/
/*--------------------------------------------*/
[data-test-id="MY_VIBE_PAUSE_BUTTON"] {
	background: #fff1;
	color: #fff;
}

[data-test-id="MY_VIBE_PLAY_BUTTON"] {
	background: #fff1;
	color: #fff;
}

.VibeBlock_root__z7LtR {
	min-height: 400px;
	max-height: 400px;
}

.VibeSettings_root__ufZlV {
	background: 0;
	backdrop-filter: blur(50px);
}
/*--------------------------------------------*/

/*Контекстное меню*/
/*--------------------------------------------*/
.NOqNiasunvfLvvi75zl9 {
	z-index: 500;
}

.s7_MO4NdsYs7nPQALD8W {
	position: fixed;
	background: 0;
	backdrop-filter: blur(60px);
}
/*--------------------------------------------*/

/*blurity*/
/*--------------------------------------------*/
/* body > div > p {
	visibility: hidden;
}
*/

body > div > p {

	position: fixed;
	color: #fff;
	left: 50%;
	transform: translate(-50%, -2px);
	z-index: 9999;
	font-weight: 800;
	padding: 3px;
	border-radius: 5px;
	visibility: visible;
}
/*--------------------------------------------*/

.CompositeHeader_stickyChild_scrolling__wm9_D {
	background: #272727;
}

/*Полноэкранный плеер*/
/*--------------------------------------------*/
.FullscreenPlayerDesktopContent_additionalContent_enter__WQmXC {
	position: fixed;
	left: -50%;
	width: 105%;
	height: 100%;
}

.FullscreenPlayerDesktop_root___8vo1.FullscreenPlayerDesktop_important__dGfiL {
	background: 0;
}
/*--------------------------------------------*/

.ggP7WX2_erziDHFOo32s {
	background: #f000;
}

/*dev панель*/
/*--------------------------------------------*/
.DevPanel_panel__LnoO2 {
	backdrop-filter: blur(1000px) brightness(0.8);
}
/*--------------------------------------------*/

/*Слайдеры громкости*/
/*--------------------------------------------*/
.ChangeVolume_root__HDxtA {
	--slider-thumb-box-shadow-color: #0000;
}

.ChangeTimecode_slider__P4qmT {
	--slider-thumb-box-shadow-color: #0000;
}
/*--------------------------------------------*/

/*Track Lyrics*/
/*--------------------------------------------*/
.TrackLyricsModal_content__Cstzi {
	color: #fff;
}

.TrackLyricsModal_header__nWar3 {
	color: #fff;
}
/*--------------------------------------------*/

/*Описание*/
/*--------------------------------------------*/
[data-test-id="BLOCK_HEADER_DESCRIPTION"] {
	color: #fff8;
}
/*--------------------------------------------*/

/*Only display: none;*/
/*--------------------------------------------*/
.NavbarDesktop_pinsList___jXIM:before,
.NavbarDesktop_pinsList___jXIM:after,
.VibeAnimation_root_visible__S7kXl,
.NavbarDesktop_user__dzbuH,
.FullscreenPlayerDesktopContent_fullscreenContent_enter__xMN2Yб,
.NavbarDesktop_scrollableContainer__HLc9D:before,
.NavbarDesktop_scrollableContainer__HLc9D:after,
.QualitySettingsModal_overlay__8pjOO,
.FullscreenPlayerDesktopContent_sliderContainer__FtBZ7,
.FullscreenPlayerDesktopControls_root__tviu4,
.UserProfile_plusLink__NhVsU,
.BarBelow_root__KFexT,
.FullscreenPlayerDesktopContent_syncLyricsContent__H_enX:before,
.FullscreenPlayerDesktopContent_syncLyricsContent__H_enX:after,
.PlayQueue_root__ponhw:before,
.PlayQueue_root__ponhw:after {
	display: none;
}
/*--------------------------------------------*/